<div class="d-flex flex-row justify-content-around align-items-center bg-brown">
 
    
    <div class="">
        <h5 class="txt-white"> Philosopher <span class="">&#183;</span></h5>
    </div>
  
  <div class=""> 
    <div class="d-flex flex-row mt-3">
      <p class="txt-orange px-2">Privacy Policy</p>

      <p class="txt-orange px-4">Terms & Conditions</p>
      
        <p class="txt-white"> &copy; Copyright 2021</p>

        <p class="txt-white">All rights reserved</p>
    </div>
  </div>

    <p class="txt-white">Developed by
      <a href='https://GermanCobian.github.io/Portfolio/' target=''>German Cobian</a>
    </p>
</div>